body {
  margin: 0;
}

html {
  cursor: default;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;

      }

      @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Firefox < 16 */
      @-moz-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Internet Explorer */
      @-ms-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

      /* Opera < 12.1 */
      @-o-keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

.navbar {
  min-height: 75px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.navbar-brand {
  font-size: !important 30px;
  font-family: 'Bungee', cursive;
}

.splashPage {
  background: black url("./photos/phoenix2.jpeg") no-repeat;
  background-size: cover;
  border-bottom: 1px solid #262626;
  height: 700px;
}

.fixMargin {
  padding-top: 130px;
}

.footer {
  background: #353A3F;  /* fallback for old browsers */
  height: auto;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}


.portfolioPage {
  padding-top: 150px;
  border-bottom: 5px solid white;
  background: #353A3F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #353A3F, white);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #353A3F, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#carouselExampleControls {
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  cursor: pointer;
}

#carouselExampleControls {
  width: 70%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  cursor: pointer;
}
.technology {
  height: auto;
  padding-top: 80px;
}


#header1 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  opacity: .8;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}

#subheader {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
  line-height: 60px;
  margin-top: -50px;
  opacity: .8;
  color: white;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}

#subheader2 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 80px;
  line-height: 60px;
  opacity: .8;
  color: black;
  padding-top: 20px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}


#header1hairline {
  text-align: center;
  font-family: 'Bungee', cursive;
  font-size: 80px;
  opacity: .8;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}



#header2{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;;
  font-size: 35px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  line-height: 33px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.3);
}

#viewMore {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

#viewMore:hover {
  text-decoration: none;
}


@-webkit-keyframes pulsate {
  0% {
      opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      opacity: 0.5;
  }
}

.line3 {
  width: 70%;
  border: 1px solid black;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;
}

.line4 {
  width: 70%;
  border: 1px solid white;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;
}

.line5 {
  width: 70%;
  border: 1px solid white;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;
}


.projectImage {
  width: 80%;
  border-radius: 3px;
  border: 2px solid black;
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
}


.headerBackground {
  background: black;
  opacity: .6;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 350px;
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  }


.infoBackground {
  width: 100%;
  padding-top: 10px;
  background-color: white;
  border: 5px solid black;
  color: black;
  opacity: .9px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#viewSite {
  color: black;
  border-radius: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#projectDescription {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
}

@import "compass/css3";

.flex-container {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 0;
  width: 73%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin: 5px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 30px;
}

.descriptionText {
  padding-top: 30px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8px;
}

.descriptionText2 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.techText {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.contact {
  height: auto;
  background: url("./photos/new02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
}

.connectDiv {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  -moz-box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.58);
  height: 100%;
  width: 75%;
  font-family: 'Open Sans Condensed', sans-serif;;
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
}

.descriptionText3 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

#removedEdges {
  font-size: 25px;
  font-weight: bolder;
  cursor: pointer;
}

.portfolioTitle {
  font-size: 45px;
  font-weight: bold;
}

.flex-container1 {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding-left: 9px;
  padding-right: 0px;
  margin-bottom: 0;
}

.flex-item1 {
  width: 50px;
  height: 100px;
  border-radius: 300px;
  margin-right: 10px;
  margin-left: 10px;
}

#footerIcons,#footerIcons:link,#footerIcons:visited,#footerIcons:hover,#footerIcons:focus,#footerIcons:active{
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-top: 30px;
}


#footerIcons:hover {
  font-size: 40px;
  margin-top: 30px;
  color: #a5656f;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;

      }

      @keyframes fadein {
          from { opacity: 0.2; }
          to   { opacity: 1; }
      }

      /* Firefox < 16 */
      @-moz-keyframes fadein {
          from { opacity: 0.2; }
          to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
          from { opacity: 0.2; }
          to   { opacity: 1; }
      }

      /* Internet Explorer */
      @-ms-keyframes fadein {
          from { opacity: 0.2; }
          to   { opacity: 1; }
      }

      /* Opera < 12.1 */
      @-o-keyframes fadein {
          from { opacity: 0.2; }
          to   { opacity: 1; }
      }

.flex-container1 > a {
  padding-right: 0;
  margin-right: 0;
}

.flex-container2 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}


.flex-item2 {
  background: transparent;
  padding: 5px;
  width: 70%;
  text-align: center;
  text-transform: uppercase;
}

.flex-container2 a {
  color: #fff;
  text-decoration: none;
  padding: 5px 0em;
}

.footerText {
  margin-bottom: 0;
  font-size: 10px;
}

.mouse-cursor-gradient-tracking {
  position: relative;
  background: #353A3F;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  width: 80%;
  height: 100px;
  margin: auto;
  text-align: center;
  border-radius: 6px;
}
.mouse-cursor-gradient-tracking span {
  position: relative;
}
.mouse-cursor-gradient-tracking::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, white, transparent);
  transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.mouse-cursor-gradient-tracking:hover::before {
  --size: 200px;
}

#buttonTextHover {
  color: white;
  font-size: 30px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#buttonTextHover:hover {
  color: #232526;
}

#hue{
    animation: hue-rotate 20s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
